
$grid-size: 12;
$grid-gutter-width: 30px;

$size-xs: 576px;
$size-sm: 768px;
$size-md: 992px;
$size-lg: 1200px;
$size-xl: 1400px;
$size-xxl: 1600px;

$breakpoint-xs: $size-xs;
$breakpoint-sm: $size-sm;
$breakpoint-md: $size-md;
$breakpoint-lg: $size-lg;
$breakpoint-xl: $size-xl;
$breakpoint-xxl: $size-xxl;
