<nav role="navigation">
    <a href="#" class="burger">
        <img src="images/menu.svg" height="36" alt="menu">
    </a>
    <ul class="nav">
        <li>
            <a href="#" class="close-burger">
                <img src="images/x.svg" alt="">
            </a>
        </li>
        <li><a href="#derfor">Derfor</a></li>
        <li><a href="#cases">Cases</a></li>
        <li><a href="#profil">Profil</a></li>
        <li><a href="#samarbejdspartnere">Samarbejdspartnere</a></li>
        <li><a href="#kontakt"><b>Kontakt</b></a></li>
    </ul>
</nav>