.browser {
    margin-bottom: 3rem;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.browser-top {
    display: block;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.browser-bg {
    fill: #d7d7d7;
}

.browser-url, .browser-buttons {
    fill: white;
}
