.card-columns {
    @include media-breakpoint-only(lg) {
        column-count: 4;
    }
    @include media-breakpoint-only(xl) {
        column-count: 5;
    }
}

.cd-timeline {
  overflow: hidden;
  margin: 2em auto;
}

.cd-timeline__container {
  position: relative;
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  padding: 2em 0;
}

.cd-timeline__container::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
  background: #d7e4ed;
}

@media only screen and (min-width: 1170px) {
.cd-is-hidden {
visibility: hidden;
}

.cd-timeline__img.cd-timeline__img--bounce-in {
visibility: visible;
animation: cd-bounce-1 0.6s;
}
}

@keyframes cd-bounce-1 {
0% {
opacity: 0;
transform: scale(0.5);
}

60% {
opacity: 1;
transform: scale(1.2);
}

100% {
transform: scale(1);
}
}
