.d-block {
    display: block;
}

.d-flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-justify-center {
    justify-content: center;
}

.flex-align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}