.bg-color-white {
    background-color: var(--color-white);
}

.bg-color-gray {
    background-color: var(--color-gray);
}

.bg-color-dark-gray {
    background-color: var(--color-dark-gray);
}

.bg-color-black-accent {
    background-color: var(--color-black-accent);
    color: var(--color-white);
}