.btn {
    width: 100%;
	padding: 25px 75px;
	font-family: var(--font-family-secondary);
	font-size: var(--font-size-default);
	background: #f5f5f5;
	box-shadow: 0;
	outline: none;
	border: 0;
	cursor: pointer;

	margin: 3rem 0;

	@media (min-width: $breakpoint-md) {
		width: unset;
	}
}
