.container-fluid {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    // padding: var(--container-padding);
}

.container {
    width: 100%;
    max-width: var(--container-max-width);
    margin: 0 auto;
    padding: var(--container-padding);
}

.container-squeeze {
    width: 100%;
    max-width: var(--container-squeeze-max-width);
    margin: 0 auto;
    padding: var(--container-squeeze-padding);
}
