.co-workers-wrapper {
	padding: 6rem 0 5rem;
}

.co-workers-list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	@media (min-width: $breakpoint-md) {
		flex-direction: row;
	}

	.co-worker {
		flex: 0 0 100%;
		max-width: 100%;
		padding: 0 3rem;

		margin-bottom: 8rem;

		display: flex;
		flex-direction: column;
		align-items: center;

		@media (min-width: $breakpoint-md) {
			flex: 0 0 50%;
			max-width: 50%;
			flex-direction: row;
			align-items: unset;
		}

		.image {
			// margin-right: 3rem;

			img {
				width: 230px;
				height: 230px;
				margin-bottom: 3rem;

				border-radius: 100%;

				@media (min-width: $breakpoint-md) {
					width: 165px;
                    height: 165px;
                    margin-bottom: unset;
                    margin-right: 3rem;
				}
			}
		}
		.content {
			h6 {
				font-family: "Lato";
				font-weight: bold;
			}

			h6::before {
				content: "";
				display: inline-block;
				height: 4px;
				width: 3rem;
				background-color: var(--color-secondary);
				vertical-align: middle;
				margin-right: 1.5rem;
			}
		}
	}
}
