.logo {
	position: absolute;
	top: 3rem;
	left: 3rem;
	height: 5rem;



	@media (min-width: $breakpoint-xs) {
	height: 8rem;
	}

	@media (min-width: $breakpoint-sm) {
		
		height: 10rem;
	}

	@media (min-width: $breakpoint-lg) {
		position: static;
		height: 9rem;
	}

	@media (min-width: $breakpoint-xxl) {
		position: static;
		height: 12rem;
	}
}
