.media-text-overlay-wrapper {
	position: relative;
	overflow: hidden;

	@media (min-width: $breakpoint-lg) {
		position: relative;
		height: 100vh;
		z-index: 1;

		&.expand {
			height: 120vh;
		}

		.container {
			padding: 0 8rem;
		}
	}

	> picture {
		position: unset;
		display: block;
		overflow: hidden;
		height: 60vh;

		@media (min-width: $breakpoint-lg) {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: -1;
		}

		> img {
			width: 100%;
			height: 110%;
			object-fit: cover;
			object-position: center;
		}
	}

	> .text-overlay {
		display: flex;
		height: 100%;
		align-items: center;

		@media (min-width: $breakpoint-lg) {
			position: relative;
			top: 30px;
		}

		@media (min-width: $breakpoint-xl) {
			position: relative;
			// top: unset;
		}

		@media (min-width: $breakpoint-lg) {
			&.position-top {
				align-items: flex-start;
				padding-top: 10rem;
			}
			&.position-bottom {
				align-items: flex-end;
				padding-bottom: 10rem;
			}
		}

		.content-wrapper {
			padding: 2.5rem 0;
			width: 100%;
			color: var(--color-black);

			@media (min-width: $breakpoint-lg) {
				width: 50%;
				color: var(--color-white);

				&.position-right {
					margin-left: auto;
				}

				&.position-center {
					margin: 0 auto;
					text-align: center;

					.actions {
						justify-content: space-around;
					}
				}
			}

			@media (min-width: $breakpoint-xl) {
				width: 45%;
			}
			
			span {
			    display: block;
			}
		}

		h1 {
            margin-bottom: 2.5rem;
			@media (min-width: $breakpoint-md) {
				margin-bottom: 1.5rem;
				font-size: 5rem;
				line-height: 1.1;
			}

			@media (min-width: $breakpoint-xl) {
				margin-bottom: 3.5rem;
			}
			@media (min-width: $breakpoint-xxl) {
				font-size: 7rem;
			}
		}

		.leader {
            margin-bottom: 2.5rem;
			@media (min-width: $breakpoint-md) {
				margin-bottom: 3.5rem;
			}
			@media (min-width: $breakpoint-lg) {
				font-size: 2rem;
				margin-bottom: 1.5rem;
            }
            
            @media (min-width: $breakpoint-xl) {
				margin-bottom: 3.5rem;
			}

			@media (min-width: $breakpoint-xxl) {
				font-size: 2.8rem;
			}
		}

		h5 {
            margin-bottom: 2.5rem;
			@media (min-width: $breakpoint-lg) {
				font-size: 2rem;
			}
			@media (min-width: $breakpoint-xxl) {
				font-size: 2.8rem;
			}
		}
	}
}
