.recommendations {
	.recommendations-wrapper {
		padding: 5rem 0 2.5rem;

		.headline-section {
			@media (min-width: $breakpoint-md) {
                padding: 3rem 0;
			}
		}

		.row {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
			text-align: center;

			.recommendation {
				// width: 33.33%;
				padding: 0 3rem;
				margin-bottom: 5rem;

				@media (min-width: $breakpoint-md) {
					margin-bottom: 10rem;
				}
			}
		}
	}
}
