.sub-headline {
    display: inline-block;
    font-size: 1.4rem;
    font-family: var(--font-family-primary);
    font-weight: 600;
    line-height: 2;
    letter-spacing: 1px;
    text-transform: uppercase;
    
    &.stroked {
        border-bottom: 4px solid var(--color-secondary);
    }
}