@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

:root {
  --color-almost-black: #3A3A3A;
  --color-dark-blue: #22223A;
  --color-light-blue: #4B4F6A;
  --color-gray-purple: #9A8C99;
  --color-gray-orange: #C9AEA7;
  --color-light-orange: #F2E9E4;
  --color-almost-white: #F6F6F6;

  --divider-height: 180px;
  --spacer-height: 80px;
  
  @media (min-width: 800px) {
    --spacer-height: 120px;
    --divider-height: 250px;
  }
}

.bg-almost-black{ background: var(--color-almost-black); }
.bg-dark-blue{ background: var(--color-dark-blue); }
.bg-light-blue{ background: var(--color-light-blue); }
.bg-gray-purple{ background: var(--color-gray-purple); }
.bg-gray-orange{ background: var(--color-gray-orange); }
.bg-light-orange{ background: var(--color-light-orange); }
.bg-almost-white{ background: var(--color-almost-white); }

.color-almost-black{ color: var(--color-almost-black); }
.color-dark-blue{ color: var(--color-dark-blue); }
.color-light-blue{ color: var(--color-light-blue); }
.color-gray-purple{ color: var(--color-gray-purple); }
.color-gray-orange{ color: var(--color-gray-orange); }
.color-light-orange{ color: var(--color-light-orange); }
.color-almost-white{ color: var(--color-almost-white); }

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-variation-settings: 'opsz' 12;
  font-weight: 200;
  font-style: normal;
  font-synthesis: none;
  text-wrap: balance;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: white;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body:has(.modal) {
  overflow: hidden;
  height: 100%;
}

b, strong {
  font-weight: 900;
}

[role="button"] {
  cursor: pointer;
}

.img-responsive {
  display: block;
  width: 100%;
  height: auto;
}

article {
    display: grid;
    margin: 0 auto;
    padding: 0 60px;
    
    @media (min-width: 768px) {
      padding: 0 120px;
    }
}


.paragraph-md {
  margin: 0;
  font-size: clamp(20px, 3vw, 32px);
  line-height: 1.5;
  color: #2a2a2a;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

button {
  all: unset;
}

p {
  margin: 0;
}

img {
  display: block;
}

.img-responsive {
  width: 100%;
  height: auto;
}

.grid-container {
  display: grid;
  max-width: 80vw;
  margin: 0 auto;
}

@keyframes rotate-infinite {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.headline-xl {
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -3.6px;
  font-size: clamp(60px, 7.5vw, 120px);

  /* font-size: clamp(64px, 7.5vw, 120px); */
}

.text-transform-uppercase {
  text-transform: uppercase;
}

.pointer-events-none {
  pointer-events: none;
}

.display-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

@media (min-width: 800px) {
  .hidden-md-up {
    display: none;
  }
}
@media (max-width: 799px) {
  .hidden-md-down {
    display: none;
  }
}

.white-space-nowrap {
  white-space: nowrap;
}