@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

:root {
  --color-almost-black: #3A3A3A;
  --color-dark-blue: #22223A;
  --color-light-blue: #4B4F6A;
  --color-gray-purple: #9A8C99;
  --color-gray-orange: #C9AEA7;
  --color-light-orange: #F2E9E4;
  --color-almost-white: #F6F6F6;
}

html {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-variation-settings: 'opsz' 12;
  font-weight: 200;
  font-style: normal;
  font-synthesis: none;
  text-wrap: balance;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-color: white;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1 > span,
h2 > span,
h3 > span,
h4 > span,
h5 > span,
h6 > span {
  display: block
}

button {
  all: unset;
}

@keyframes rotate-infinite {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}