*,
*:before,
*:after {
	box-sizing: border-box;
	font-family: var(--font-family-primary);
}

html {
	height: 100%;
	font-size: var(--font-size-html);
	font-weight: var(--font-weight-light);
	background-color: var(--body-bg);
	word-spacing: 1px;
	line-height: 1.5;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

html {
	scroll-behavior: smooth;
	overflow-y: scroll; /* has to be scroll, not auto */
	-webkit-overflow-scrolling: touch;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}

body {
	// max-width: 1920px;
	height: 100%;
	margin: 0 auto;
}

.layout-default {
	background: var(--color-white);
}

main {
	overflow: hidden;
}

[role="button"] {
	cursor: pointer;
}

a {
	position: relative;
	display: inline;
	text-decoration: none;
	color: var(--color-primary);
}

.highlight {
	color: var(--color-secondary);
}
