:root {

    --body-bg: #ffffff;

    //  *****   COLOR SETTINGS    ***** //

    --color-primary: var(--color-black);
    --color-secondary: #B13250;
    --color-default: var(--color-black);
    --color-gray: #f8f8f8;
    --color-grey: var(--color-gray);
    --color-dark-gray: #dcdddf;
    --color-dark-grey: var(--color-dark-gray);
    --color-white: #ffffff;
    --color-black: rgb(10, 10, 10);
    --color-black-accent: rgb(75, 76, 77);
    --color-black-accent-rbg: 75, 76, 77;


    //  *****   FONT SETTINGS    ***** //

    --font-size-html: 10px;
    --font-size-default: 2.2rem;

    --font-size-h1: 5rem;
    @media (min-width: $breakpoint-md) { --font-size-h1: 7rem;} // let's give it a nutch when it's not a mobile device
    --font-size-h2: 4rem;
    @media (min-width: $breakpoint-md) { --font-size-h2: 6rem;} // let's give it a nutch when it's not a mobile device
    --font-size-h3: 3.5rem;
    @media (min-width: $breakpoint-md) { --font-size-h3: 5rem;} // let's give it a nutch when it's not a mobile device
    --font-size-h4: 3em;
    @media (min-width: $breakpoint-md) { --font-size-h4: 4rem;} // let's give it a nutch when it's not a mobile device
    --font-size-h5: 2.6rem;
    @media (min-width: $breakpoint-md) { --font-size-h5: 3.2rem;} // let's give it a nutch when it's not a mobile device    
    --font-size-h6: var(--font-size-default);


    --font-family-primary: "Lato";
    --font-family-secondary: "DM Serif Display", serif;
    // --font-weight-light: 300;
    --font-weight-normal: 300;
    --font-weight-bold: 700;
    // --font-weight-black: 400;

    //  *****   NAVBAR SETTINGS    ***** //
    --navbar-height: 70px;


    //  *****   CONTAINER SETTINGS    ***** //
    --container-max-width: 1740px;
    --container-padding: 0 3rem;

    --container-squeeze-max-width: 1160px;
    --container-squeeze-padding: 0 3rem;
}
