body {
    display: none;
}

footer {
    background: $black;
}



/*
Generel section padding
*/

section {
    overflow: hidden;
    padding: 8rem 0;

    &.section-expand {
        padding: 16rem 0;
    }
}

.figure-up::after {
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border-left: 50vw solid transparent;
    border-right: 50vw solid transparent;
    border-bottom: 50px solid #ffffff;
    margin-top: -50px;
}


@include media-breakpoint-down(sm) {
    .hero {
        height: 35vh
    }
}

@include media-breakpoint-up(sm) {
    .parallax-container {
      perspective: 1px;
      transform-style: preserve-3d;
      height: 100vh;
      overflow-x: hidden;
      overflow-y: scroll;

      &::before {
          content: '';
          -webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
      }
    }

    .hero {
      display: flex;
      flex: 1 0 auto;
      position: relative;
      height: 50vh;
      transform: translateZ(-1px) translateY(-50%) scale(2);
      z-index: -1;
    }

    .content {
      display: block;
      position: relative;
      background-color: white;
      z-index: 1;

    }

}
